*.vscode/
/project/bin/
/project/debug/
/project/obj/
/project/release/
/project/Makefile
/project/Makefile.Debug
/project/Makefile.Release
/project/mupen64plus-frontend_resource.rc
/project/.qmake.stash