/projects/unix/_obj*/
/projects/unix/mupen64plus.so
/projects/unix/mupen64plus.so.2
/projects/vs2017/.vs/
/projects/vs2017/Debug/
/projects/vs2017/Release/
/projects/vs2017/mupen64plus-core.vcxproj.user
